.container {
  flex: 1;
  flex-direction: column;
}

.testing {
  color: red;
}

.viewContainer {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.personRow {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: mistyrose;
  padding: 5;
  margin: 5;
}

.personName {
  color: skyblue;
}

.personMoreIcon {
  color: red;
}
